.idea
*/__pycache__
__pycache__
src/data/datasets
src/baselines/results
src/wandb
.ipynb_checkpoints

*.egg-info
*.log


wandb
baselines/results
data/datasets
logged_files/*
!logged_files/distillation/
logged_files/distillation/*
!logged_files/distillation/fish4knowledge